/*HABITACIONES*/

.habitaciones {
    background: linear-gradient(#8CD790, #285943);
    margin: 5rem;
    padding: 1rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: -2px 4px 20px 3px rgba(0, 0, 0, 0.67);

    h2 {
        color: $color-fuentes;
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
    }

    p {
        color: $color-fuentes;
        margin-bottom: 10px;
        font-size: 2rem;
        text-align: center;
    }

    img {
        width: 30rem;
        border-radius: 4px;
    }

    a {
        border: 1px solid $color-botones;
        @include anclas;
        text-transform: uppercase;
        padding: 0.5rem 1.5rem;
        border-radius: 4px;
        transition: all 0.3s ease;

        &:hover {
            background-color: $color-fuente-secundario;
        }
    }


}